body {
  overflow: hidden;
  font-family: sans-serif;
  }

h1 {
  font-size: 1.2em;
  text-align: center;
}

.panel {
  overflow-y: auto;
  padding: 1em;
  width: 92.5%;
  margin: auto;
  max-width: 30em;
  max-height: 450px;
}

input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 0.5em;
  
}

input:focus {
  outline: none;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-list li {
  list-style: none;
  background: rgba(256, 256, 256, 0.5);
  padding: 0.7em;
  margin: 0 0.1em;
  cursor: pointer;
}



.nav-list li.active {
  background-color: rgba(256, 256, 256, 0.95);
}

.button {
  border-radius: 20px;
  background-color: rgb(151, 232, 151);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow:  0 25px 45px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

#navigation {
  text-align: center;
  margin-bottom: 20px;
}
.loader{

  height: 32px;
  width: 100px;
  box-sizing: border-box;
  overflow: hidden;

}
.loader:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 24px;
  height: 24px;
  animation: ballbns 2s ease-in infinite;
}

/* animacion del loader */

@keyframes ballbns {
  0% {  
    left: 10%; /* su rango al iniciar */

    transform: translateX(-100%) rotate(0deg);
    border-radius: 0; 
    background: #11c4ff;
  }
  100% {  
    left: 90%; /* su rango al acabar */

    transform: translateX(0%) rotate(360deg); 
    border-radius: 50%;
    background: #1ff70f; 
  }
} 

#loading-message {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: gray;
  margin-top: 1em;
}

#loading-message p {
  top: 0;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
/* los cuadrados de fondo */

section .color {
  position: absolute;
  filter: blur(150px);
}
section .color:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: #ff359b;

}
section .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  width: 500px;
  height: 500px;
  background: #fffd87;

}
section .color:nth-child(3) {
  bottom: 50px;
  right: 100px;
  width: 300px;
  height: 300px;
  background: #00d2ff;

}

/* cuadrados movimiento */


.box {
  position: relative;
}
.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, .1);
  border: 1px solid rgba(255, 255, 255, .5);
  border-right: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  background: rgba(255, 255, 255, .1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
  0%, 100% {
      transform: translateY(-40px);
  }
  50% {
      transform: translateY(40px);
  }
}
.box .square:nth-child(1) {
  top: -50px;
  right: -85px;
  width: 100px;
  height: 100px;
}
.box .square:nth-child(2) {
  top: 150px;
  left: -130px;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.box .square:nth-child(3) {
  bottom: 50px;
  right:  -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.box .square:nth-child(4) {
  bottom: -80px;
  left:   100px;
  width: 50px;
  height: 50px;
  
}
.box .square:nth-child(5) {
  top: -80px;
  left:   140px;
  width: 60px;
  height: 60px;
  
}